In [1]:
import pandas as pd
import numpy as np 

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df =pd.read_excel('Online Retail (1).xlsx')

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [8]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [18]:
df[['Description']].isna()

        Description
0             False
1             False
2             False
3             False
4             False
...             ...
541904        False
541905        False
541906        False
541907        False
541908        False

[541909 rows x 1 columns]

1454

In [40]:
df = df.dropna(subset=['Description'])

In [42]:
null=0
for i in df['Description']:
    if pd.isna(i):
        null +=1
        

print(null)

0

In [44]:
df = df.dropna(subset=['CustomerID'])

In [46]:
null=0
for i in df['CustomerID']:
    if pd.isna(i):
        null +=1
        

print(null)

0

In [48]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [58]:
df['Quantity'].sum()

4906888

In [98]:
negative_quantity =0
for i in df['UnitPrice']:
    if i ==0:
        # delete row where quantity is less then 1
        
        negative_quantity +=1
        

print(negative_quantity)

40

In [86]:
(df['UnitPrice'] < 0).sum()

0

In [80]:
df.drop(df[df['Quantity'] < 1].index, inplace=True)

In [82]:
(df['Quantity'] < 1).sum()

0

In [100]:
df.drop(df[df['UnitPrice'] ==0].index, inplace=True)

In [102]:
negative_quantity =0
for i in df['UnitPrice']:
    if i ==0:
        # delete row where quantity is less then 1
        
        negative_quantity +=1
        

print(negative_quantity)

0

In [104]:
df.drop_duplicates(inplace=True)

In [112]:
df['InvoiceDate'] = df['InvoiceDate'].dt.date

In [119]:
df['Description'] = df['Description'].str.capitalize()

In [123]:
df.to_csv('Updated_online_Retail.csv')